

.mat-column-srNo {
    flex: 0 0 10%;
}
.mat-column-uniqueId {
    flex: 0 0 12%;
}
.mat-column-name {
    flex: 0 0 15%;
}   
.mat-column-action {
    flex: 0 0 15%;
}
.mat-column-status {
    flex: 0 0 10%;
}